<div class="row ba-panel">
    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
         ba-panel>
        <div class="row form-group">
            <div class="form-group col-sm-12 col-xs-12">
                <ui-select multiple ng-model="multipleItem.selected"
                           ng-disabled="false"
                           search-enabled="true"
                           append-to-body="true"
                           class="form-control ">
                    <ui-select-match placeholder="Multiple Select">
                        {{$item}}
                    </ui-select-match>
                    <ui-select-choices repeat="multipleItem in multipleSelectItems | filter: $select.search">
                        {{ multipleItem }}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-sm-9 col-xs-12">
                <input date-range-picker class="form-control date-picker" type="text" ng-model="filter.date"/>
            </div>
            <div class="form-group col-sm-3 col-xs-3">
                <button class="btn btn-primary" ng-click="showGraph()">Run</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ba-panel
             ba-panel-title="Graph"
             ba-panel-class="with-scroll large-panel">
            <div id="myFactor" class="admin-chart"></div>
        </div>
    </div>
</div>