<div class="horizontal-scroll">
    <table class="table" st-table="latestTableData" st-safe-src="rowCollection">
        <thead>
        <tr class="sortable ">
            <th st-sort="data_date">Date</th>
            <th st-sort="ticker">Ticker</th>
            <th>Market Cap</th>
            <th st-sort="Sector">Sector</th>
            <th st-sort="Industry">Industry</th>
            <th st-sort="SignalConfidence">SignalConfidence</th>
            <th>SignalDirection</th>
        </tr>
        <tr>
            <th></th>
            <th><input st-search="ticker" placeholder="Search Ticker" class="input-sm form-control search-input"
                       type="search"/></th>
            <th></th>
            <th><input st-search="Sector" placeholder="Search Sector"
                       class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="Industry" placeholder="Search Industry"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th></th>
            <th><input st-search="SignalDirection" placeholder="Search SignalDirection"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in latestTableData">
            <td>{{ item.data_date.substr(0, 10) }}</td>
            <td class="ticker" ng-click="showGraph(item.ticker)">{{ item.ticker }}</td>
            <td>{{ (item.market_cap / 1000000000).toFixed(1) }}B</td>
            <td>{{ item.Sector }}</td>
            <td>{{ item.Industry }}</td>
            <td>{{ item.SignalConfidence.toFixed(2) }}</td>
            <td>{{ item.SignalDirection }}</td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    td.ticker {
        cursor: pointer;
        font-weight: 600;
        color: #209e91;
    }
</style>
