<div class="horizontal-scroll">
    <table class="table" st-table="latestTableData" st-safe-src="rowCollection">
        <thead>
        <tr class="sortable ">
            <th st-sort="data_date">Date</th>
            <th st-sort="ticker">Ticker</th>
            <th>Market Cap</th>
            <th st-sort="Sector">Sector</th>
            <th st-sort="Industry">Industry</th>
            <th>SignalDirection</th>
            <th st-sort="SignalConfidence">SignalConfidence</th>
        </tr>
        <tr>
            <th></th>
            <th><input st-search="ticker" placeholder="Search Ticker" class="input-sm form-control search-input"
                       type="search"/></th>
            <th></th>
            <th><input st-search="Sector" placeholder="Search Sector"
                       class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="Industry" placeholder="Search Industry"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th><input st-search="SignalDirection" placeholder="Search SignalDirection"
                       class="input-sm form-control search-input"
                       type="search"/>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in latestTableData">
            <td>{{ item.data_date.substr(0, 10) }}</td>
            <td class="ticker" ng-click="showGraph(item.ticker)">{{ item.ticker }}</td>
            <td>{{ (item.market_cap / 1000000000).toFixed(1) }}B</td>
            <td>{{ item.Sector }}</td>
            <td>{{ item.Industry }}</td>
            <td class="table-arr">
                <i class="icon-up" ng-if="item.SignalDirection === 'Long'"></i>
                <i class="icon-down" ng-if="item.SignalDirection === 'Short'"></i>
                <span ng-if="item.SignalDirection === 'Neutral'">-</span>
            </td>
            <td>
                <div class="progress" ng-if="item.SignalConfidence > 0.5">
                  <div class="progress-bar progress-bar-primary" style="width: 50%; visibility: hidden">
                    <span class="sr-only">Complete</span>
                  </div>
                  <div class="progress-bar progress-bar-success" ng-style="{'width': 100 * (item.SignalConfidence - 0.5) + '%'}">
                    <span class="sr-only">Rest</span>
                  </div>
                </div>
                <div class="progress" ng-if="item.SignalConfidence <= 0.5">
                  <div class="progress-bar progress-bar-primary" ng-style="{'width': 100 * (0.5 - item.SignalConfidence) + '%', 'visibility': 'hidden' }">
                    <span class="sr-only">Complete</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" ng-style="{'width': 100 * item.SignalConfidence + '%'}">
                    <span class="sr-only">Rest</span>
                  </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    td.ticker {
        cursor: pointer;
        font-weight: 600;
        color: #209e91;
    }
</style>
