<div class="table-responsive">
  <table class="table">
    <tr>
      <th></th>
      <th>Sector / Industry</th>
      <th>Gross</th>
      <th>Net</th>
      <th>Net - 1wk delta</th>
      <th>Net - 1mo delta</th>
    </tr>
    <tr ng-repeat='entry in exposuresData' ng-class="{'header': entry.zacks_m_ind_desc == 'All'}" ng-click="collapse(entry)" ng-show="entry.zacks_m_ind_desc === 'All' || headers.indexOf(entry.zacks_x_sector_desc) !== -1">
      <td>
        <i class="ion-plus-round" ng-class="{'hide': entry.zacks_m_ind_desc !== 'All' || headers.indexOf(entry.zacks_x_sector_desc) !== -1}"></i>
        <i class="ion-minus-round" ng-class="{'hide': entry.zacks_m_ind_desc !== 'All' || headers.indexOf(entry.zacks_x_sector_desc) === -1}"></i>
      </td>
      <td ng-class="{'hide': entry.zacks_m_ind_desc !== 'All'}">{{entry.zacks_x_sector_desc}}</td>
      <td ng-class="{'hide': entry.zacks_m_ind_desc === 'All'}" style="padding-left: 20px;">
        {{entry.zacks_m_ind_desc}}
      </td>
      <td>
        {{(100 * entry.Gross).toFixed()}}%
      </td>
      <td ng-style="{
        'background': (
          entry.Net > 0.01 ? 'rgba(32, 158, 145, {{entry.Net}})' : (
            entry.Net < -0.01 ? 'rgba(232, 86, 86, {{-entry.Net}})' : 'white'
          )
        )
      }">
        {{(100 * entry.Net).toFixed()}}%
      </td>
      <td>
        {{(100 * entry["Net - 1wk delta"]).toFixed()}}%
      </td>
      <td>
        {{(100 * entry["Net - 1mo delta"]).toFixed()}}%
      </td>
    </tr>
  </table>
</div>
<style>
tr.header {
  cursor: pointer;
  font-weight: 600;
}
</style>
