<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th rowspan="2" class="text-center"></th>
            <th rowspan="2" class="text-center">Sector / Industry</th>
            <th rowspan="2" class="text-center">Long</th>
            <th rowspan="2" class="text-center">Neutral</th>
            <th rowspan="2" class="text-center">Short</th>
            <th colspan="3" class="text-center">Unweighted</th>
            <th colspan="3" class="text-center">Market Cap Weighted</th>
        </tr>
        <tr>
            <th>Net</th>
            <th>Net - 1wk delta</th>
            <th>Net - 1mo delta</th>
            <th>NetW</th>
            <th>NetW - 1wk delta</th>
            <th>NetW - 1mo delta</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='entry in exposuresData' ng-class="{'header': entry.zacks_m_ind_desc == 'All'}"
            ng-show="entry.zacks_m_ind_desc === 'All' || headers.indexOf(entry.zacks_x_sector_desc) !== -1">
            <td ng-click="collapse(entry)">
                <i class="ion-plus-round"
                   ng-class="{'hide': entry.zacks_m_ind_desc !== 'All' || headers.indexOf(entry.zacks_x_sector_desc) !== -1}"></i>
                <i class="ion-minus-round"
                   ng-class="{'hide': entry.zacks_m_ind_desc !== 'All' || headers.indexOf(entry.zacks_x_sector_desc) === -1}"></i>
            </td>
            <td ng-class="{'hide': entry.zacks_m_ind_desc !== 'All'}" class="ticker" ng-click="showSector(entry.zacks_x_sector_desc)">{{ entry.zacks_x_sector_desc }}</td>
            <td ng-class="{'hide': entry.zacks_m_ind_desc === 'All'}" class="ticker" ng-click="showIndustry(entry.zacks_m_ind_desc)" style="padding-left: 20px;">
                {{ entry.zacks_m_ind_desc }}
            </td>
            <td>
                {{ entry.Long }}
            </td>
            <td>
                {{ entry.Neutral }}
            </td>
            <td>
                {{ entry.Short }}
            </td>
            <td ng-style="{'background': (entry.Net > 0.01 ? 'rgba(32, 158, 145, {{ entry.Net }})' : (entry.Net < -0.01 ? 'rgba(232, 86, 86, {{ -entry.Net }})' : 'white'))}">
                {{(100 * entry.Net).toFixed()}}%
            </td>
            <td>
                {{(100 * entry["Net - 1wk delta"]).toFixed()}}%
            </td>
            <td>
                {{(100 * entry["Net - 1mo delta"]).toFixed()}}%
            </td>
            <td ng-style="{'background': (entry.NetW > 0.01 ? 'rgba(32, 158, 145, {{ entry.NetW }})' : (entry.NetW < -0.01 ? 'rgba(232, 86, 86, {{ -entry.NetW }})' : 'white'))}">
                {{(100 * entry.NetW).toFixed()}}%
            </td>
            <td>
                {{(100 * entry["NetW - 1wk delta"]).toFixed()}}%
            </td>
            <td>
                {{(100 * entry["NetW - 1mo delta"]).toFixed()}}%
            </td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    tr.header {
        font-weight: 600;
    }
    tr.header td:nth-child(1) {
        cursor: pointer;
    }
    td.ticker {
        cursor: pointer;
        font-weight: 600;
        color: #209e91;
    }
    .table > thead > tr > th {
        vertical-align: middle;
        font-weight: 700;
    }
</style>
